@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;600;700&display=swap");
html {
  font-size: 0.9rem;
}

@media (max-width: 1180px) {
  html {
    font-size: 0.5rem;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #000;
  overflow-x: hidden;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1400px;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 700px;
    margin: 1.75rem auto;
  }
}

img {
  max-width: 100%;
}

p {
  font-size: 1.563rem;
}

.title-2 {
  font-size: 5.688rem;
  font-weight: bold;
  margin-bottom: 50px;
}

.title-3 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 25px;
}

.title-breath {
  font-size: 6rem;
  font-weight: 100;
  color: #000;
  line-height: 50px;
  margin-bottom: 3rem;
}

.title-breath small {
  font-size: 3rem;
  font-weight: 100;
}

.title-breath small b {
  font-weight: 600;
}

.btn {
  padding: 20px 60px;
  border-radius: 50px;
  font-size: 1.875rem;
  text-transform: uppercase;
}

.btn.btn-primary {
  background: #41CD9E;
  color: white;
  border: none 0;
}

.btn.btn-secondary {
  background: transparent;
  color: white;
  border: 1px solid #41CD9E;
}

.btn.btn-yellow {
  background: #E0E61D;
  color: #000;
  border: 1px solid #E0E61D;
}

section.banner {
  background: #7638FF;
  min-height: 680px;
}

section.banner .container {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.banner .container .logo {
  position: absolute;
  left: 22px;
  top: 47px;
  width: 190px;
}

@media (max-width: 980px) {
  section.banner .container .logo {
    width: 130px;
  }
}

section.banner .container .elm-01 {
  position: absolute;
  right: -5%;
  bottom: 0;
  max-width: 500px;
  z-index: 0;
}

@media (max-width: 980px) {
  section.banner .container .elm-01 {
    display: none;
  }
}

section.banner .container .text-wap {
  margin-top: auto;
  margin-bottom: 100px;
  max-width: 760px;
  position: relative;
  z-index: 1;
}

@media (max-width: 980px) {
  section.banner .container .text-wap {
    margin-bottom: 20px;
  }
}

section.banner .container h1 {
  font-size: 6.5rem;
  color: white;
  font-weight: bold;
  line-height: 7rem;
}

section.banner .container p {
  color: white;
  font-size: 2.25rem;
  line-height: 3rem;
}

section.banner .container .app-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  margin-top: 50px;
}

section.banner .container .app-link a {
  margin-right: 30px;
}

section.banner .container .app-link a img {
  max-height: 70px;
}

section.banner.banner-rtf {
  min-height: inherit;
  margin-bottom: 150px;
}

section.banner.banner-rtf .container {
  height: auto;
}

section.banner.banner-rtf .container .elm-01 {
  bottom: -120px;
}

@media (max-width: 980px) {
  section.banner.banner-rtf .container .elm-01 {
    display: block;
    bottom: -240px;
    max-width: 320px;
    right: 50%;
    margin-right: -170px;
  }
}

section.banner.banner-rtf .text-wap {
  margin: 240px 0 100px;
}

.section-2 {
  padding: 100px 0;
}

.section-2 .col-sm-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-2 .cn-wrap {
  position: relative;
  padding-left: 50px;
  margin-top: 50px;
  padding-right: 50px;
}

.section-2 .cn-wrap::before {
  position: absolute;
  left: 15px;
  width: 20px;
  height: 10px;
  background: #7638FF;
  top: 8px;
  content: "";
  display: block;
}

.section-3, .section-4, .section-6 {
  background: #7638FF;
  position: relative;
}

.section-3 .wire-globe, .section-4 .wire-globe, .section-6 .wire-globe {
  position: absolute;
  right: 0;
  bottom: -160px;
  max-width: 390px;
}

.section-3 .container, .section-4 .container, .section-6 .container {
  height: 100vh;
  min-height: 600px;
}

.section-3 .container .con-w, .section-4 .container .con-w, .section-6 .container .con-w {
  margin: auto;
}

.section-3 .container .title-2, .section-4 .container .title-2, .section-6 .container .title-2,
.section-3 .container .title-3,
.section-4 .container .title-3,
.section-6 .container .title-3,
.section-3 .container p,
.section-4 .container p,
.section-6 .container p {
  color: white;
}


.section-3 .container .title-3,
.section-4 .container .title-3,
.section-6 .container .title-3 {
  font-weight: normal;
  margin-top: 50px;
}

.section-3 .container .row, .section-4 .container .row, .section-6 .container .row {
  margin: auto 0;
}

.section-3 .container .row .col-sm-6, .section-4 .container .row .col-sm-6, .section-6 .container .row .col-sm-6 {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-3 .container .btn-secondary, .section-4 .container .btn-secondary, .section-6 .container .btn-secondary {
  margin-top: 50px;
}

.section-4, .section-6 {
  background: #DCF3FF url(../images/mobile-screens.png) no-repeat;
  background-position: bottom right;
  background-size: contain;
}

.section-4 .title-2, .section-6 .title-2,
.section-4 .title-3,
.section-6 .title-3,
.section-4 p,
.section-6 p {
  color: inherit !important;
}

.section-4 .container .con-w, .section-6 .container .con-w {
  max-width: 860px;
}

.section-5 {
  background: url(../images/sayhellobg.png) bottom no-repeat;
  background-size: 50%;
  text-align: center;
}

@media (max-width: 890px) {
  .section-5 {
    background-size: 170%;
  }
}

.section-5 .container {
  position: relative;
  height: 100vh;
}

@media (max-width: 890px) {
  .section-5 .container {
    height: 650px;
  }
}

.section-5 .title-5 {
  font-size: 8.188rem;
  font-weight: 100;
  margin-top: 100px;
}

.section-5 .title-5 small {
  display: block;
  font-size: 3.75rem;
  font-weight: bold;
  color: black;
}

.section-5 .btn-tertiary {
  position: absolute;
  left: 50%;
  margin-left: -140px;
  background: white;
  bottom: 30px;
  display: inline-block;
}

.section-5 .btn-tertiary small {
  margin-left: 4px;
  background: black;
  color: white;
  border-radius: 50%;
  padding: 6px 6px 6px 8px;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  text-align: center;
}

.section-5 .btn-tertiary small::before {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 0 4px 6px;
  border-color: transparent transparent transparent #ffffff;
}

.section-6 {
  background: white;
}

.section-6 .container {
  display: block;
}

@media (max-width: 890px) {
  .section-6 .container {
    height: initial;
  }
}

.section-6 .contact-form {
  max-width: 600px;
  margin: auto;
  width: 100%;
  min-height: 400px;
}

.section-6 .contact-form .hbspt-form .input input {
  border: 0 none;
  border-bottom: 1px solid #eee;
}

@media (max-width: 890px) {
  .section-6 {
    padding: 100px 0 0;
  }
  .section-6 .container .row .col-sm-6 {
    height: initial;
  }
}

footer {
  padding: 30px 0;
  border-top: 1px solid #eee;
  text-align: center;
}

footer .col-sm-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

@media (max-width: 890px) {
  footer ul {
    margin: auto;
    margin-top: 21px;
    width: 150px;
  }
}

footer ul li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 60px;
}

footer ul li a {
  display: block;
  width: 20px;
}

.retrofit-ft {
  padding: 100px 0;
}

.retrofit-ft .row .col-sm-6 {
  margin-bottom: 2.5rem;
}

.retrofit-ft .ft-inner-wrapp {
  border: 1px solid #B4B1BC;
  padding: 4rem;
  height: 100%;
}

.rtf-dwonload {
  height: 629px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #7638FF;
}

.rtf-dwonload .title-2 {
  color: #fff;
  margin-bottom: 0;
}

@media (max-width: 980px) {
  .rtf-dwonload .title-2 {
    text-align: center;
  }
}

.rtf-dwonload .btn-yellow {
  margin: auto;
}

@media (max-width: 980px) {
  .rtf-dwonload .btn-yellow {
    margin-top: 50px;
  }
}

.rtf-dwonload .container {
  margin: auto;
}

.rtf-gal {
  padding: 200px 0;
  /* Slow-motion Zoom Container */
  /* The Transformation */
}

.rtf-gal .img-hover-zoom {
  height: 416px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 980px) {
  .rtf-gal .img-hover-zoom {
    margin-bottom: 30px;
  }
}

.rtf-gal .img-hover-zoom .label {
  background: #fff;
  bottom: 55px;
  padding: 10px;
  color: #000;
  font-size: 2.5rem;
  z-index: 5;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

.rtf-gal .img-hover-zoom--slowmo img {
  -webkit-transform-origin: 50% 65%;
          transform-origin: 50% 65%;
  -webkit-transition: -webkit-transform 10s, -webkit-filter 10s ease-in-out;
  transition: -webkit-transform 10s, -webkit-filter 10s ease-in-out;
  transition: transform 10s, filter 10s ease-in-out;
  transition: transform 10s, filter 10s ease-in-out, -webkit-transform 10s, -webkit-filter 10s ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
  height: 416px;
}

.rtf-gal .img-hover-zoom--slowmo:hover img {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.sayhello {
  padding: 200px 0;
  position: relative;
}

.sayhello:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #eee;
  right: 30%;
  bottom: 0;
  display: block;
  z-index: -1;
}

.sayhello .txt-wraper {
  margin: auto;
  max-width: 440px;
  margin-left: 0;
}

.rtf-contact {
  padding: 200px 0;
}

.rtf-contact .con-w {
  max-width: 450px;
}

.rtf-contact .title-breath {
  font-size: 3.125rem;
}

.rtf-contact .title-breath small {
  font-weight: 300;
}
/*# sourceMappingURL=stylesheet.css.map */